@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Roboto:wght@300;500&display=swap');
html {
    height: 100%;
    width: 100%;
    background-color: #1c0c2e;
}

body {
    font-family: 'Poppins';
}

.divider {
    margin: 20px 20px;
    background-color: #6b6b6b;
    border: none;
    height: 1px;
}

.project-header {
    width: 100%;
}

.project-title {
    background: -webkit-linear-gradient(45deg, #fb41f8, #7c78ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    inline-size: 200px;
    word-break: break-all;
    hyphens: manual;
    font-size: 20px;
    margin-left: 20px;
}

.project-card-title {
    font-size: 20px;
}

.box {
    width: max-content;
}

.links {
    position: absolute;
    bottom: 0px;
    margin-bottom: 25px;
}

.project-version {
    position: relative;
    float: right;
    top: 0px;
    color: gray;
    margin: 20px;
    margin-top: -43px;
}

.project-description {
    color: #adadad;
    line-height: 24px;
    margin: 0px 20px;
    max-width: 400px;
    font-weight: 300;
}

.project-link {
    position: relative;
    color: #3f8bee;
    text-decoration: none;
    margin-left: 20px;
}

.subtitle {
    color: white;
    font-size: 40px;
}

#project-list {
    display: grid;
}

.project-view {
    position: relative;
    height: 250px;
    background-color: rgba(100, 100, 100, 0.15);
    margin: 18px;
    border-radius: 20px;
}

.header-element-1 {
    margin-left: 100px;
}

#view-projects-txt {
    margin-top: 60px;
}

#title {
    color: white;
    font-weight: bold;
    /* 57 for tablets */
    margin-top: -20px;
    margin-bottom: -45px;
    text-align: center;
}

.title-text {
    font-weight: 200;
    font-size: 60px;
}

#description {
    color: gray;
    font-size: 24px; 
    /* 35px for tablets */
    text-align: center;
    margin-top: -20px;
}

#view-projects-text {
    font-size: 28px;
    color: lightgray;
    margin-top: 75px;
}

#socials {
    background-color: rgba(100, 100, 200, 0.15);
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
}

.project-authors {
    position: relative;
    color: gray;
    margin: 20px;
    margin-top: 10px;
}

.social {
    border-radius: 20px;
    margin: 10px 20px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, .3);
    transition: transform 0.2s;
}

.social:hover {
    transform: scale(1.1)
}

.link {
    text-decoration: none;
    vertical-align: bottom;
}

#line-view-projects {
    margin-top: -25px;
    margin-bottom: 50px;
    background-color: #454545;
    border: none;
    height: 1px;
}

#view-projects-view {
    display: grid;
    grid-template-columns: 80%;
    gap: 40px;
    justify-content: center;
}

.view-project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(100, 100, 100, .1);
    border-radius: 20px;
    padding: 10px 20px;
}

.project-card-title {
    display: inline-block;
    background: -webkit-linear-gradient(45deg, #fb41f8, #7c78ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.project-card-button {
    font-weight: 200;
    display: inline-block;
    background-image: linear-gradient(
        45deg, 
        #CA2CC7, 
        #465FDF
    );
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin: 40px 0px 20px;
    transition: transform 0.2s;
}

.project-card-button:hover {
    transform: scale(1.05)
}

/* Tablets */
@media only screen and (min-width: 767px) {
    #project-list {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    #view-projects-view {
        grid-template-columns: 30% 30%;
    }

    .project-title {
        inline-size: 220px;
        word-break: break-all;
        hyphens: manual;
        font-size: 24px;
    }

    #title {
        font-size: 80px;
    }
    
    #description {
        font-size: 35px;
        margin-top: -40px;
    }

    .project-card-title {
        font-size: 20px;
    }

    .title-text {
        font-size: 80px;
    }
}

/* Computers */
@media only screen and (min-width: 1220px) {
    #project-list {
        display: grid;
        grid-template-columns: 33% 34% 33%;
    }    

    #view-projects-view {
        grid-template-columns: 20% 20% 20%;
    }
    
    .project-title {
        inline-size: 300px;
        word-break: break-all;
        hyphens: manual;
        font-size: 24px;
    }
}